.dots {
    position: absolute;
    left: 50%;
    bottom: 3%;
    transform: translateX(-50%);

    .dot-item {
        display: inline-block;
        width: 2vh;
        height: 2vh;
        margin: 0 5px;
        background: #fff;
        border-radius: 50%;
        opacity: .4;
        cursor: pointer;
    }

    .active {
        opacity: 1;
        transform: scale(1.2);
    }
}